
// colors
$color-primary: #1404f3;
$color-primary-light: #2998ff;
$color-primary-dark: #0E048B;
//
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ccc;
// 
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
//
$color-white: #fff;
$color-black: #000;
$color-black-light: #313131;
// font
$default-font-size: 1.6rem;
//
$border-Radius-small: .5rem;
$border-Radius-big: 10rem;