/////////////////////////////
//    landing page sections
/////////////////////////////
.section-about {
    background-color: $color-gray-light-1;
    margin-top: -2rem;
    padding: 5rem 0;
}

.section-media {
    padding: 5rem 0;
    background-size: cover;
    background-image: linear-gradient( to bottom right, rgba($color-primary, .8), rgba($color-white, .8)), url("../../img/background-2.jpg");
}

.section-treatments {
    padding: 5rem 0;
    background-color: $color-gray-light-1;
}

.section-testimonials {
    background-color: $color-gray-light-2;
    padding: 5rem 0;
}

.section-contact {
    padding: 5rem 0;
    background-color: $color-gray-light-1;
}

.section-footer {
    background-image: linear-gradient(to right bottom, rgba($color-primary, 2), rgba($color-white, 0.2));
    border-bottom: 1px solid $color-gray-light-3;
}

//////////////////////////////////////
//    additional html pages sections
/////////////////////////////////////
.section-gallery {
    text-align: center;
}

.section-blog-posts {
    text-align: center;
    background-color: $color-gray-light-1;
}

/////////////////////////////
//    treatment page sections
/////////////////////////////
.section__acupuncture {
    background-color: $color-gray-light-1;
    margin-top: -2rem;
}