///////////////////////////////////
//  contact page
///////////////////////////////////



// google maps

#map {
    height: 40rem;
    margin-bottom: 7rem;
}

// days and hours styles

.location {
    &__days {
        font-size: 1.8rem;
        margin-left: 1.6rem;
        margin-top: 1.4rem;
    }
    &__hours {
        list-style: none;
        line-height: 3.5rem;
        font-weight: 700;
        color: $color-gray-dark-3;
        &-open {
            color: $color-primary;
            list-style: none;
        }
    }
}

///////////////////////////////////
// media Queries
///////////////////////////////////

@media (min-width: 768px) {
    .location__days {
        font-size: 2.5rem;
        margin-left: 1.9rem;
        margin-top: 3rem;
    }
    .location__hours {
        line-height: 4.7rem;
    }
}